# Except swagger file
!storage/api-docs/api-docs.json

/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
.vapor/
storage/**/*
!storage/api-docs/
!storage/api-docs/api-docs.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
helm-chart/secrets.yml
.idea/*
helm-chart/fullchain.pem
helm-chart/privkey.pem
helm-chart/secrets.yml
helm-chart/secrets-ifrc.yml
helm-chart/secrets-qa.yml
helm-chart/secrets-prod.yml
helm-chart/ssl-secret.yaml
